@import "tailwindcss";


@layer {
  .gradient-primary {
    @apply bg-radial-[at_100%_100%] from-slate-50/10 via-slate-900 via-60% to-slate-950 to-90%;
  }
  .font-montserat {
    font-family: "Montserrat", sans-serif;
  }
  .font-google-sans {
    font-family: "Google Sans Code", monospace;
  }
}
@theme {
  --animate-wiggle: wiggle 5s linear infinite;
  --animate-infinite-scroll: infinite-scroll  30s linear infinite;
  --animate-tilt: tilt 10s linear infinite;

  @keyframes wiggle {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes infinite-scroll {
    to{
      left: -80px;
    }
  }

  @keyframes tilt {
    0%, 50%, 100%{
      transform: rotate(0deg)
    }
    25%{
      transform: rotate(1deg)
    }
    75%{
      transform: rotate(-1deg)
    }
  }
  
}
